<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backsight.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Backsight.Editor.Properties.Settings>
            <setting name="LastMap" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLayerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BacksightConnectionString" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=Backsight;Integrated Security=True</value>
            </setting>
            <setting name="MeanElevation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeoidSeparation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zone" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FeatureCodeTranslation" serializeAs="String">
                <value />
            </setting>
            <setting name="NtxImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAngle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSystemName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSystemText" serializeAs="String">
                <value />
            </setting>
            <setting name="HelpFile" serializeAs="String">
                <value>C:\Users\sstanton\Code\Files\Backsight.chm</value>
            </setting>
            <setting name="EntityTranslation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCadVersion" serializeAs="String">
                <value>2000</value>
            </setting>
        </Backsight.Editor.Properties.Settings>
    </userSettings>
</configuration>