<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backsight.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Backsight.Data.Properties.Settings.BacksightConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Backsight;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Backsight.Data.Properties.Settings>
            <setting name="BacksightConnectionString" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=Backsight;Integrated Security=True</value>
            </setting>
        </Backsight.Data.Properties.Settings>
    </userSettings>
</configuration>