<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backsight.Data.Properties.Settings.BacksightConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Backsight;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>