<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backsight.Data.Properties.Settings.BacksightConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Backsight;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Backsight.Data.Properties.Settings.BacksightConnectionString1"
            connectionString="Data Source=FIAR;Initial Catalog=Backsight;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
